@model List<Employee>

@{
    ViewBag.Title = "Employee List";
}



<div><h1>Employee List</h1></div>

<table class="table mt-2">
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Department</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "Home", new { @item.Id })">
                        @item.Name
                    </a>
                </td>
                <td>@item.Email</td>
                <td>@item.Department</td>
            </tr>
        }

    </tbody>
</table>
@section Scripts {
    <script src="~/js/customscript.js"></script>
}